/* Display the new todo form as a flexbox with two columns */
.new-todo {
    width: auto;
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-gap: 1em;
}

#todo-list{
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.25fr 0.25fr 0.25fr;
    grid-gap: 1em;
    margin: 2em 2ex;
}

#todo-form {
    max-width: 70ex;
    margin: 0 auto;
}